Yr_mod_sp.png
Yr_mod_sp_norm.png
all_intervals.png
alpha_posterior_compare.png
bear_probs_comparison.png
bear_wolf_g_mod3b.png
bear_wolf_g_mod5b.png
bear_wolf_mod3b.png
bear_wolf_mod5b.png
correlation_compare.png
durations.png
mod3b.png
mod5b.png
qneg_posterior.png
qpos_posterior.png
seroprev.png
wolf_intervals.png
wolf_probs_comparison.png
